# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Project DB files
*.sdf
*.opensdf
*.lastbuildstate
*.log
*.suo
*.pdb
*.exp
*.ilk
*.tlog
*.log
*.idb
*.vcxproj.user

# directoris
packages/
Debug/
Release/



# Executables
*.exe
*.out
*.app
